@define-color base00 #292d3e;   /* Background */
@define-color base01 #434758;   /* Darker background */
@define-color base02 #2b2e37;   /* Slightly lighter than base00 */
@define-color base03 #607c8b;   /* Comments / selection bg */
@define-color base04 #959dcb;   /* Foreground dimmed */
@define-color base05 #d0d0d0;   /* Foreground */
@define-color base06 #eceef0;   /* Bright fg */
@define-color base07 #fefefe;   /* White / brighter text */
@define-color base08 #f07178;   /* Red */
@define-color base09 #ffcb6b;   /* Orange / Yellow */
@define-color base0A #ffe585;   /* Yellow (brighter) */
@define-color base0B #c3e88d;   /* Green */
@define-color base0C #89ddff;   /* Cyan */
@define-color base0D #82aaff;   /* Blue */
@define-color base0E #c792ea;   /* Magenta */
@define-color base0F #ff8b92;   /* Additional / error-ish red */
* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
  color: @base04;
  background: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #disk, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #language, #custom-notification, #custom-exit, #hardware{
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
}

#temperature.critical {
  color: @base0F;
}

#window {
  font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
}

#language {
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: -1px;
}
